:root {
    // Fonts
    --font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // Line heights
    --line-height-headers: 1.1;
    --line-height-body: 1.5;

    // Font sizes
    --font-size-xs: 0.75rem;   // 12px
    --font-size-s: 0.875rem;   // 14px
    --font-size-m: 1rem;       // 16px
    --font-size-l: 1.125rem;   // 18px
    --font-size-xl: 1.25rem;   // 20px
    --font-size-xxl: 1.5rem;   // 24px
    --font-size-xxxl: 2rem;    // 32px
    --font-size-xxxxl: 2.5rem; // 40p

    // Text colors
    --color-text-header: hsl(0, 1%, 16%); // #282828 (dark gray)
    --color-text-body: hsl(0, 5%, 25%); // #404040 (gray)
    --color-text-muted:  hsl(0, 1%, 44%);; // #707070 (light gray)

    // Spacing 
    --spacing-xxs: 0.25rem; // 4px
    --spacing-xs: 0.5rem;   // 8px
    --spacing-s: 0.75rem;   // 12px
    --spacing-m: 1rem;      // 16px
    --spacing-l: 1.5rem;    // 24px
    --spacing-xl: 2rem;     // 32px
    --spacing-xxl: 3rem;    // 48px
    --spacing-xxxl: 4rem;   // 64px

    // Application Colors
    --color-primary: #dc2626; // red
    --color-primary-rotate: #e9410e; // orange
    --color-primary-bg: #b91c1c ;// dark red 

    --color-secondary: #1d4ed8; // blue
    --color-secondary-rotate: #60a5fa; // light blue
    
    --color-tertiary: #93c5fd; // light blue
    --color-glint: #bfdbfe; // light blue;

    // Neutral colors
    --color-white: #fff;
    --color-background: #f3f4f6;
    --color-light:#ef4444;
    --color-dark: var(--color-text-header);

    // Border radius
    --border-radius: 0.25rem; // 4px

    // Border 
    --border: 2px solid var(--color-light);

    // Shadows
    --shadow-large: 2px 4px 10px rgba(0, 0, 0, 0.1);
    --shadow-small: 1px 3px 6px rgba(0, 0, 0, 0.1);
}