.header {
    gap: var(--spacing-l);
    padding: var(--spacing-s) var(--spacing-s);

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

